extends layout
block content
    h1= title

    form(id='novelForm', action="/resource/novel", method="POST")
        div.form-group
            label.novelAttr(for='novelName') novel Name
            input#novelName(type='text', name='novelName')
        div.form-group
            label.novelAttr(for='novelCost') novel Cost
            input#novelCost(type='number', name='novelCost',min=10,max=1200)
        div.form-group
            label.novelAttr(for='novelAuthor')  novel Author
            input#novelAuthor(type='text', name='novelAuthor')
        input(type="submit")

    script.
        document.forms['novelForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
            method: 'POST',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
            alert("Save succeded")
            // TODO handle body
        }).catch((error) => {
            // TODO handle error
            alert("Save failed " + error )
        });
        });